extends ../layout

block content
  .page-header
    h3(style="display: inline-block") 用户列表
    button.btn.btn-primary(type="button" style="float: right; margin-top: 19px" data-toggle="modal" data-target="#addWorkerModal")
      i.fa.fa-plus-circle
      | 新增工作人员
  table.table.table-hover
    thead
      tr
        th(scope="col") #
        th(scope="col") 用户名
        th(scope="col") 姓名
        th(scope="col") 电话
        th(scope="cole") 是否为就业局用户
        th(scope="col") 操作
    tbody
      each item, index in workers
        tr
          th(scope="row")= index+1
          td= item.username
          td= item.name
          td= item.phone
          td= (item.isBureau? "是":"否")
          td
            button.btn.btn-primary.btn-small(type="button") 编辑
            button.btn.btn-danger.btn-small(type="button") 删除
  .modal.fade#addWorkerModal(tabindex= "-1" role="dialog" aria-labelledby="addWorkerTitle")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(role="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#addWorkerTitle 新增工作人员
          .modal-body
            form.form-horizontal#addWorkerForm(action='/pc/worker/add', method='POST')
              .form-group
                label.col-sm-3.control-label(for='username') 用户名 *
                .col-sm-7
                  input.form-control(type='text', placeholder="请输入用户名用于系统登陆", name='username', id='username')
              .form-group
                label.col-sm-3.control-label(for='password') 密码 *
                .col-sm-7
                  input.form-control(type='text', placeholder="请输入密码用于系统登陆", name='password', id='password')
              .form-group
                label.col-sm-3.control-label(for='name') 是否为就业局用户
                .col-sm-6
                  label.radio.col-sm-3
                    input(type='radio', name='isBureau', value="true")
                    | 是
                  label.radio.col-sm-3
                    input(type="radio" name="isBureau" value="false" checked)
                    | 否
              .form-group
                label.col-sm-3.control-label(for='name') 姓名
                .col-sm-7
                  input.form-control(type='text', placeholder="请输入用户真实姓名，选填", name='name', id='name')
              .form-group
                label.col-sm-3.control-label(for='phone') 电话
                .col-sm-7
                  input.form-control(type='text', placeholder="请输入用户电话，选填", name='phone', id='phone')
          .modal-footer
            button.btn.btn-default(role="button" data-dismiss="modal") 关闭
            button.btn.btn-primary(role="button" form="addWorkerForm" type="submit") 新增
